html {
    overflow-y: hidden;
}

.login-page {
    background-color: #fff;
}

.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper .login-box{
    margin: 0!important;
}

.login-wrapper .login-box .box-body{
    display: flex;
    justify-content: center;
}